<a href="https://colab.research.google.com/github/Umeshika97/Python_Loops_examples/blob/main/Python_Conditional_Statements_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import random

In [2]:
n1=[]
for i in range(1500,2701):
  if i%7==0 and i%5==0:
    n1.append(i)
print(n1)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [1]:

temp=input("input the temperature  ")
degree= int(temp[:-1])
i_coven= temp[-1]

if i_coven.upper() == "F":
  result=int(round((5/9)*(degree-32)))
  o_coven="Celsius"
elif i_coven.upper() == "C":  
  result=int(round((9*degree/5)+32))
  o_coven="Fahrenheit"
else:
  # o_coven=""
  # result=""
  print("Input proper convention")
  quit()    
print("The temperature in ",o_coven,"is",result,"degrees.")

input the temperature  112C
The temperature in  Fahrenheit is 234 degrees.

In [8]:
targetno,guessnum=random.randint(1,10),0
while targetno!=guessnum:
  guessnum=int(input("Guess a number between 1 and 10 until you get it right"))
print("well guessessed!")

Guess a number between 1 and 10 until you get it right9
Guess a number between 1 and 10 until you get it right2
Guess a number between 1 and 10 until you get it right5
Guess a number between 1 and 10 until you get it right4
Guess a number between 1 and 10 until you get it right8
Guess a number between 1 and 10 until you get it right6
Guess a number between 1 and 10 until you get it right1
Guess a number between 1 and 10 until you get it right3
Guess a number between 1 and 10 until you get it right10
Guess a number between 1 and 10 until you get it right7
well guessessed!

In [9]:
n=5
for i in range(n):
  for j in range(i):
    print('*',end=" ")
  print('')  
for i in range(n,0,-1):  
  for j in range(i):
    print('*',end="")
  print('')

*
* *
* * *
* * * *
*****
****
***
**
*

In [10]:
word=input("Input Reverse word:")
for char in range(len(word)-1,-1,-1):
 print(word[char],end=" ")

print("\n")

Input Reverse word:umi
i m u

In [11]:
numbers=np.arange(1,11,1)
ce=0;co=0;
for n in numbers:
  if n%2==0:
    print(n," is even number")
    ce=ce+1
  else:
    print(n," is odd number")  
    co=co+1

print("No of even numbers",ce) 
print("No of odd numbers",co)

1  is odd number
2  is even number
3  is odd number
4  is even number
5  is odd number
6  is even number
7  is odd number
8  is even number
9  is odd number
10  is even number
No of even numbers 5
No of odd numbers 5

In [12]:
datalist=[1432,11.23,1+2j,True,'w3resource',(0,-1),[5,12],{"class":'V',"section":'A'}]
for item in datalist:
  print("Type of ",item," is", type(item))

Type of  1432  is <class 'int'>
Type of  11.23  is <class 'float'>
Type of  (1+2j)  is <class 'complex'>
Type of  True  is <class 'bool'>
Type of  w3resource  is <class 'str'>
Type of  (0, -1)  is <class 'tuple'>
Type of  [5, 12]  is <class 'list'>
Type of  {'class': 'V', 'section': 'A'}  is <class 'dict'>

In [13]:
for i in range(7):
  if (i == 3 or i == 6):
    continue
  print(i,end="")
print("\n")

01245

In [17]:
x=0;y=1;
while y<50:
  print(y)
  x,y=y,y+x

1
1
2
3
5
8
13
21
34

In [22]:
for i in range(1,51):
  if (i%3==0 and i%5==0):
    print(i,"FizzBuzz")
    continue
  elif (i%5==0):
    print(i,"Buzz")  
    continue
  elif (i%3==0):
    print(i,"Fizz")
    continue

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 Buzz

In [5]:
row_num=int(input("Input number of rows:"))
col_num=int(input("Input number of columns:"))
multi_list=[[0 for col in range(col_num)]for row in range(row_num)]
for row in range(row_num):
  for col in range(col_num):
    multi_list[row][col]=row*col
print(multi_list)

Input number of rows:2
Input number of columns:9
[[0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8]]

In [6]:
# lines=[]
# while True:
#   l=string(input())
#   if l:
#     lines.append(l.upper())
#   else:
#     break;

# for l in lines:
#   print(l)      
items=[]
num=[x for x in input().split(',')]
for p in num:
  x=int(p)
  if not x%5:
    items.append(p)
print(','.join(items))

6

In [7]:
s=input("Input a string:")
d=l=0;
for c in s:
  if c.isdigit():
    d=d+1
  elif c.isalpha():
    l=l+1
  else:
    pass
print("Letters",l)
print("Digits",d)

Input a string:u7gh8
Letters 3
Digits 2